@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IN:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --color-gray: hsl(251, 9%, 53%);
  --color-darkGrey: hsl(248, 10%, 15%);
  --color-veryDarkGrey: hsl(248, 15%, 11%);
  --color-almostWhite: hsl(252, 11%, 91%);
  --color-neonGreen: hsl(127, 100%, 82%);
  --color-yellow: hsl(42, 91%, 68%);
  --color-orange: hsl(13, 95%, 66%);
  --color-red: hsl(0, 91%, 63%);
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: var(--color-veryDarkGrey);
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  background-color: var(--color-almostWhite);
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  background-color: var(--color-almostWhite);
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.slider::-ms-thumb {
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  background-color: var(--color-almostWhite);
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.slider::-webkit-slider-thumb:hover {
  background-color: var(--color-veryDarkGrey);
  border: 3px solid var(--color-neonGreen);
}

.slider::-moz-range-thumb:hover {
  background-color: var(--color-veryDarkGrey);
  border: 2px solid var(--color-neonGreen);
}

.slider::-ms-thumb:hover {
  background-color: var(--color-veryDarkGrey);
  border: 2px solid var(--color-neonGreen);
}

.checkbox::before {
  content: '';
  width: 0.6875rem;
  height: 0.6875rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-darkGrey);
}

.checkbox:checked::before {
  transform: scale(1);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}


